.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('animals-nature.png');
  background-repeat: no-repeat;
}

.openmoji-1F435 {
  background-position: -0px -0px;
}
.openmoji-1F412 {
  background-position: -72px -0px;
}
.openmoji-1F98D {
  background-position: -144px -0px;
}
.openmoji-1F9A7 {
  background-position: -216px -0px;
}
.openmoji-1F436 {
  background-position: -288px -0px;
}
.openmoji-1F415 {
  background-position: -360px -0px;
}
.openmoji-1F9AE {
  background-position: -432px -0px;
}
.openmoji-1F429 {
  background-position: -504px -0px;
}
.openmoji-1F43A {
  background-position: -576px -0px;
}
.openmoji-1F98A {
  background-position: -648px -0px;
}
.openmoji-1F99D {
  background-position: -0px -72px;
}
.openmoji-1F431 {
  background-position: -72px -72px;
}
.openmoji-1F408 {
  background-position: -144px -72px;
}
.openmoji-1F981 {
  background-position: -216px -72px;
}
.openmoji-1F42F {
  background-position: -288px -72px;
}
.openmoji-1F405 {
  background-position: -360px -72px;
}
.openmoji-1F406 {
  background-position: -432px -72px;
}
.openmoji-1F434 {
  background-position: -504px -72px;
}
.openmoji-1F40E {
  background-position: -576px -72px;
}
.openmoji-1F984 {
  background-position: -648px -72px;
}
.openmoji-1F993 {
  background-position: -0px -144px;
}
.openmoji-1F98C {
  background-position: -72px -144px;
}
.openmoji-1F42E {
  background-position: -144px -144px;
}
.openmoji-1F402 {
  background-position: -216px -144px;
}
.openmoji-1F403 {
  background-position: -288px -144px;
}
.openmoji-1F404 {
  background-position: -360px -144px;
}
.openmoji-1F437 {
  background-position: -432px -144px;
}
.openmoji-1F416 {
  background-position: -504px -144px;
}
.openmoji-1F417 {
  background-position: -576px -144px;
}
.openmoji-1F43D {
  background-position: -648px -144px;
}
.openmoji-1F40F {
  background-position: -0px -216px;
}
.openmoji-1F411 {
  background-position: -72px -216px;
}
.openmoji-1F410 {
  background-position: -144px -216px;
}
.openmoji-1F42A {
  background-position: -216px -216px;
}
.openmoji-1F42B {
  background-position: -288px -216px;
}
.openmoji-1F999 {
  background-position: -360px -216px;
}
.openmoji-1F992 {
  background-position: -432px -216px;
}
.openmoji-1F418 {
  background-position: -504px -216px;
}
.openmoji-1F98F {
  background-position: -576px -216px;
}
.openmoji-1F99B {
  background-position: -648px -216px;
}
.openmoji-1F42D {
  background-position: -0px -288px;
}
.openmoji-1F401 {
  background-position: -72px -288px;
}
.openmoji-1F400 {
  background-position: -144px -288px;
}
.openmoji-1F439 {
  background-position: -216px -288px;
}
.openmoji-1F430 {
  background-position: -288px -288px;
}
.openmoji-1F407 {
  background-position: -360px -288px;
}
.openmoji-1F43F {
  background-position: -432px -288px;
}
.openmoji-1F994 {
  background-position: -504px -288px;
}
.openmoji-1F987 {
  background-position: -576px -288px;
}
.openmoji-1F43B {
  background-position: -648px -288px;
}
.openmoji-1F428 {
  background-position: -0px -360px;
}
.openmoji-1F43C {
  background-position: -72px -360px;
}
.openmoji-1F9A5 {
  background-position: -144px -360px;
}
.openmoji-1F9A6 {
  background-position: -216px -360px;
}
.openmoji-1F9A8 {
  background-position: -288px -360px;
}
.openmoji-1F998 {
  background-position: -360px -360px;
}
.openmoji-1F9A1 {
  background-position: -432px -360px;
}
.openmoji-1F43E {
  background-position: -504px -360px;
}
.openmoji-1F983 {
  background-position: -576px -360px;
}
.openmoji-1F414 {
  background-position: -648px -360px;
}
.openmoji-1F413 {
  background-position: -0px -432px;
}
.openmoji-1F423 {
  background-position: -72px -432px;
}
.openmoji-1F424 {
  background-position: -144px -432px;
}
.openmoji-1F425 {
  background-position: -216px -432px;
}
.openmoji-1F426 {
  background-position: -288px -432px;
}
.openmoji-1F427 {
  background-position: -360px -432px;
}
.openmoji-1F54A {
  background-position: -432px -432px;
}
.openmoji-1F985 {
  background-position: -504px -432px;
}
.openmoji-1F986 {
  background-position: -576px -432px;
}
.openmoji-1F9A2 {
  background-position: -648px -432px;
}
.openmoji-1F989 {
  background-position: -0px -504px;
}
.openmoji-1F9A9 {
  background-position: -72px -504px;
}
.openmoji-1F99A {
  background-position: -144px -504px;
}
.openmoji-1F99C {
  background-position: -216px -504px;
}
.openmoji-1F438 {
  background-position: -288px -504px;
}
.openmoji-1F40A {
  background-position: -360px -504px;
}
.openmoji-1F422 {
  background-position: -432px -504px;
}
.openmoji-1F98E {
  background-position: -504px -504px;
}
.openmoji-1F40D {
  background-position: -576px -504px;
}
.openmoji-1F432 {
  background-position: -648px -504px;
}
.openmoji-1F409 {
  background-position: -0px -576px;
}
.openmoji-1F995 {
  background-position: -72px -576px;
}
.openmoji-1F996 {
  background-position: -144px -576px;
}
.openmoji-1F433 {
  background-position: -216px -576px;
}
.openmoji-1F40B {
  background-position: -288px -576px;
}
.openmoji-1F42C {
  background-position: -360px -576px;
}
.openmoji-1F41F {
  background-position: -432px -576px;
}
.openmoji-1F420 {
  background-position: -504px -576px;
}
.openmoji-1F421 {
  background-position: -576px -576px;
}
.openmoji-1F988 {
  background-position: -648px -576px;
}
.openmoji-1F419 {
  background-position: -0px -648px;
}
.openmoji-1F41A {
  background-position: -72px -648px;
}
.openmoji-1F40C {
  background-position: -144px -648px;
}
.openmoji-1F98B {
  background-position: -216px -648px;
}
.openmoji-1F41B {
  background-position: -288px -648px;
}
.openmoji-1F41C {
  background-position: -360px -648px;
}
.openmoji-1F41D {
  background-position: -432px -648px;
}
.openmoji-1F41E {
  background-position: -504px -648px;
}
.openmoji-1F997 {
  background-position: -576px -648px;
}
.openmoji-1F577 {
  background-position: -648px -648px;
}
.openmoji-1F578 {
  background-position: -0px -720px;
}
.openmoji-1F982 {
  background-position: -72px -720px;
}
.openmoji-1F99F {
  background-position: -144px -720px;
}
.openmoji-1FAB0 {
  background-position: -216px -720px;
}
.openmoji-1FAB1 {
  background-position: -288px -720px;
}
.openmoji-1F9A0 {
  background-position: -360px -720px;
}
.openmoji-1F490 {
  background-position: -432px -720px;
}
.openmoji-1F338 {
  background-position: -504px -720px;
}
.openmoji-1F4AE {
  background-position: -576px -720px;
}
.openmoji-1F3F5 {
  background-position: -648px -720px;
}
.openmoji-1F339 {
  background-position: -0px -792px;
}
.openmoji-1F940 {
  background-position: -72px -792px;
}
.openmoji-1F33A {
  background-position: -144px -792px;
}
.openmoji-1F33B {
  background-position: -216px -792px;
}
.openmoji-1F33C {
  background-position: -288px -792px;
}
.openmoji-1F337 {
  background-position: -360px -792px;
}
.openmoji-1F331 {
  background-position: -432px -792px;
}
.openmoji-1F332 {
  background-position: -504px -792px;
}
.openmoji-1F333 {
  background-position: -576px -792px;
}
.openmoji-1F334 {
  background-position: -648px -792px;
}
.openmoji-1F335 {
  background-position: -0px -864px;
}
.openmoji-1F33E {
  background-position: -72px -864px;
}
.openmoji-1F33F {
  background-position: -144px -864px;
}
.openmoji-2618 {
  background-position: -216px -864px;
}
.openmoji-1F340 {
  background-position: -288px -864px;
}
.openmoji-1F341 {
  background-position: -360px -864px;
}
.openmoji-1F342 {
  background-position: -432px -864px;
}
.openmoji-1F343 {
  background-position: -504px -864px;
}
